server:
	ip-freebind: yes
	interface: 127.0.0.1
	interface: ::1
	port: 53
	do-ip4: yes
	do-ip6: yes
	do-tcp: yes
	do-udp: yes
	# Set to yes below if using ctrtool ns_open_file to open the DNS sockets
	# (IPv4 only, unfortunately)
	use-systemd: no
	do-daemonize: no
	access-control: 127.0.0.0/8 allow
	access-control: 0.0.0.0/0 refuse
	access-control: ::1/128 allow
	access-control: ::/0 refuse
	username: "unbound"
	directory: "/etc/unbound"
	use-syslog: yes
	log-queries: yes
	pidfile: "/run/unbound-1.pid"
	module-config: "validator iterator"
#	module-config: "validator iterator dns64"
#	dns64-prefix: 64:ff9b::/96
	tls-upstream: yes
	tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"
forward-zone:
	name: "."
	forward-addr: 2001:4860:4860::8844@853#dns.google
	forward-addr: 2606:4700:4700::1001@853#cloudflare-dns.com
	forward-addr: 8.8.4.4@853#dns.google
	forward-addr: 1.0.0.1@853#cloudflare-dns.com

